html, body{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    background-color: rgb(87, 145, 172);
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0; /*arriba a la izquiierda, ocupar 100%*/
}

body{
    --altura: 170px; /*le dice que contenido del cuerpo estara abajo por 170 pixeles, ademas es una variable que seguire usando dentro del codigo el "--" indica una variable*/
    padding-top: var(--altura); /*en realidad esto es lo que le dice que se bajara los 170px, que utitilza el valor desigando anteriormente*/
}

.menu {
    display: flex; /*lo vuelve flexible*/
    justify-content: space-between; /*para separar a los extremos*/
    position: fixed; /*para que siempre quede en esa posicion*/
    width: 100%;
    height: var(--altura); /*aqui le decimos que el tamaño de la barra del menu sera de --altura que se definio anteriormente*/
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
    z-index: 100; /*poner por capas*/
    top: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /*agrega uina sombra por debajo del menu*/
    transition: transform 0.5s; /*cuando cambiamos de una clase a otra hace una transicion de 0.5 segundos para hacer el cambio*/
}

.Esconder_menu {
    transform: translateY(calc(-1*var(--altura))); /*para quitar la barra*/ 
    box-shadow: none; /*si habia una sombra la elimina*/
}

.logo {
    font-size: 30px;
    padding-left: 90px; /*espacio de 90px a lado izq*/
}

.btn {
    background-color: blue;
    border: none;
    padding: 20px 30px;
    color: white;
    text-align: center;
    border-radius: 15px 50px 30px 5px; /*esquinas*/
}

.tbl {
    border-spacing: 30px; /*espacio entre palabras*/
    padding-right: 80px;
    font-size: 25px;
}

.sec{
    display: flex;
    background-color: rgb(0, 102, 255);
    justify-content: center; /*para que los div dentro de la seccion esten centrados*/
    z-index: 90;
}

.izq {
    background-color: blueviolet;
    width: 50%;
}

.der {
    width: 50%;
    background: url("./doctora.jpg") no-repeat center center; /*centrar horizonta y verticalmente*/
    min-height: 700px;
    background-size: cover;
}

.menu2 {
    display: flex;
    justify-content: space-between; /*para separar a los extremos*/
    width: 80%;
    height: 170px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    align-items: center;
    z-index: 100; /*poner por capas*/
    top: -200px;
    position: relative; /*relativo a donde se crea*/
}

